*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
}
.header{
    background: linear-gradient(90deg, #0c1446, #0d1b64);
    height: 15vh;
    display: flex;
}


.header p{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: rgb(139, 128, 0);
}